{% extends 'base.html' %}

{% block title %}Ham -DELETE-{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"  style="font-family: 'Shadows Into Light', cursive;">
        <div class="col-md-6">
            <h2 class="text-center mb-4">delete post</h2>
            <p class="text-center">以下の投稿を削除します。よろしいですか？</p>
            <!-- 削除予定の投稿を再表示 -->
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>title:</strong> {{ object.title }}</li>
                        <li class="list-group-item"><strong>content:</strong> {{ object.content }}</li>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
                        {% endif %}
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <!-- 削除の確定 -->
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger mx-2">削除</button>
                        <a href="{% url 'snsapp:home' %}" class="btn btn-outline-secondary mx-2">キャンセル</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
